/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.btn-SERank {
    background-color: #ffa500;
    color: white;
    margin-top: 15px;
}
.background-color-lighter{
    background-color:#ffeedf;
}
.color-light {
    color: #ffc34c;
}
.background-color-light {
    background-color: #ffc34c;
}

.background-color-dark {
    background-color: #ff8c3d;
}
.color-contrast {
    color: #aed665;
}